[2020-03-18 16:38] allaway opened #3 "Add support for multi-value annotations"
We'll be splitting multi-value content (ie comma or | delimited values in the data) into stringLists very soon (Starting this week, and starting with the smaller portal content like Studies and Publications). This will likely break some of the visualizations.

[2020-04-16 00:41] jaybee84 opened #12 "set up global control of funding partners so that all modules are controlled by the same dropdown list on the landing page"

[2020-04-29 19:54] jaybee84 opened #22 "Dockerizing fails"
https://github.com/ThinkR-open/golem/issues/318#issue-532535874

[2020-04-30 22:19] jaybee84 commented on #22
This is applicable when using golem::add_dockerfile() function.

As a workaround a dockerfile was made manually, which installs packages through renv.

[2020-04-30 22:19] #22 closed

[2020-05-14 21:14] jaybee84 opened #24 "Add links to study summary page that navigate to synapse projects/data folders"

[2020-05-14 21:42] allaway opened #25 "Compatibility of dashboard with authentication restrictions"
Specifically, make this module only render for logged in users on the NF-OSI Sage Team, and the CTF/NTAP/GFF admin teams.

[2020-07-22 20:36] allaway commented on #3
as a note- this has been completed, and the old (un-Listed) data is marked with `..._depr`. We'd like to remove these deprecated columns from the schema so that we don't have to maintain the same data in two formats, but need to refactor this project before we can get rid of the `..._depr` columns.

[2020-07-23 23:11] jaybee84 commented on #3
Description: Dashboard pulls data from Synapse Portal tables using SynTableQuery into it "data" folders. Currently it is not compatible with "StringList" columns. Need to adapt the synapser query into reticulate driven query so that it is compatible with "StringLists"

Requirements: Change synapser SynTableQuery to reticulate in the .R scripts in "data-raw" folder

[2020-07-23 23:18] jaybee84 commented on #25
Description: The Dashboard should be accessible only to users with synapse IDs that are included in respective funder admin teams (CTF, GFF, NTAP).

Requirements: Add synapse user id authentication in a way that if a user is a member of CTF Admin team, once they log in they can only view dashboard as it is seen when "CTF" is selected in the "Funding Partner" dropdown menu

[2020-07-24 23:06] jaybee84 opened #28 "Code in modules driving the plots need to be compatible with StringList values in the data files"

[2020-07-27 19:42] andrewelamb commented on #3
@jaybee84 Should I go ahead and redo the other data ingest scripts to do the same thign as publications?

[2020-07-27 20:23] jaybee84 commented on #3
Yup... lets go ahead and do that .. Thanks @andrewelamb !

[2020-07-27 20:34] jaybee84 commented on #25
#27 adds the necessary restrictions to about page

[2020-07-27 20:35] jaybee84 opened #29 "Setup authentication such that Portal login authentication provides Syn userID to the app"
Need to talk to Jay or Michael to resolve this

[2020-07-28 00:19] allaway commented on #29
I'm a little confused - are you talking about getting the Synapse user ID after being logged in via the token?

[2020-07-28 00:20] allaway commented on #29
If so, you can retrieve the synapse user id like so (after authenticating with the cookie): `synGetUserProfile()[['ownerId']]`

If i'm misunderstanding, just ignore me :)

[2020-07-28 01:00] jaybee84 commented on #29
Since the portal front-end is being setup such that the link to this app will only be active for the permitted users (https://sagebionetworks.jira.com/browse/PORTALS-1526), I was wondering what the best ways to link CTF team members to CTF related tabs and NTAP team members to NTAP related tabs may be.

I was wondering if there is a simple way whereby the loginID from the portal becomes the input

[2020-07-28 01:23] allaway commented on #29
Ah, got it. I guess it might be possible to pass this as a parameter to the shiny app from the portal, but it seems like it would be less work (specifically, less portal-side customization) for the shiny app to just inspect the login cookie  for the authentication token.

Here's a template app for this, it's not crazy difficult, but it can make it annoying to debug changes on localhost: https://gi

[2020-07-28 01:23] allaway commented on #29
Definitely worth asking them for ideas, though!

[2020-07-28 01:32] jaybee84 commented on #29
Nice! the template is quite helpful :) Every day I uncover new resources in Sage that I did not know of before :) we need to add these "releases" in the Sage insider!

I see your point about doing an in-app authentication especially if it is low-burden.

[2020-07-28 23:27] jaybee84 opened #33 "add tests"
add tests for backend functions
add load tests

[2020-07-29 16:41] jaybee84 opened #34 "Add "See New Submissions" Module"
Module that tracks the newest file uploads

1. Pulls from portal- files table
2. Looks at createdOn column
3. Lists all files that were created in the last 7 days. If no files added, then list the last added files.

[2020-07-29 19:10] #3 closed

[2020-07-29 19:10] #12 closed

[2020-07-29 19:11] #28 closed

[2020-07-29 19:12] jaybee84 opened #35 "Add Github Actions to the repo"

[2020-07-29 23:09] jaybee84 commented on #29
This will mostly be resolved using in-app synapse authentication using the session token of the logged in user.

One take-away is that even after SYnapse authentication, this will still not be true security of the application since the tab navigation is still being done through obfuscation as @allaway mentioned in #27

Some thoughts for true security as mentioned by Jay:
1. use separate apps for e

[2020-07-29 23:14] jaybee84 commented on #25
Reopening this issue for reasons mentioned in comments of #29 and #27

This might require a bit more thinking through.. :)

[2020-07-29 23:47] andrewelamb commented on #25
It sounds like this needs to be reworked to use reticulate instead of synapser

[2020-07-29 23:52] jaybee84 commented on #25
yeah.. and to elaborate more on my reopening comment above:

This issue will need a couple of steps:
1. In-app synapse authentication validating user id from session token (draft PR here #31)
2. Isolate the tab navigations using user-id team permissions (this will need some brainstorming, some ideas noted in #29)

[2020-07-30 18:40] allaway opened #39 "convert camelCase to Title Case"
when the data are imported (or maybe at the time of plotting, if that makes more sense), use something like `snake_case::to_any_case` to clean up plot titles.

[2020-07-30 18:41] allaway opened #40 "tidy plotly labels"
Explicitly define plotly labels e.g.`ggplotly(p, tooltip=c('study","year"))` to tidy them up.

[2020-08-10 22:05] jaybee84 opened #42 "Add publications status plot in Participating Studies module"

[2020-08-10 22:14] jaybee84 opened #43 "remove "color" from plot aesthetics to avoid redundant notifications in plots"

[2020-08-10 22:27] jaybee84 opened #44 "Reconfigure the Study Upload Timeline in participating investigators module"
The plot should show File uploads plotted by year on X axis, investigator Y axis, and study name as a fill aesthetic.

So if an investigator is participating in 2 studies, files uploaded for both studies should show up for the investigator, but should be distinguishable by studyName (one color for each study)

If multiple investigators are participating in a single study, the files uploaded in tha

[2020-08-10 22:36] jaybee84 commented on #44
Edit: the color aesthetic is already assigned to resourcetype... so we need to find a different way to indicate studyName in the same plot

[2020-08-10 23:48] jaybee84 commented on #34
Add a kron job or lambda function to update rds files in the synapse folder on a weekly basis

[2020-08-11 03:19] allaway opened #45 "re evaluate visualizations after stringlist to make sure they are still accurate and interpretable"
Specifically, for the Study/Project Lead file count plot.

[2020-08-13 14:45] andrewelamb commented on #45
@allaway @jaybee84 Could you confirm the following is the correct way of making these plots:

For both of the plots in this module we start with the same merged table.

This merged table is created by doing an inner join on the studies and file table, using study name. This results in only files with a studyname in the studies table remaining.

The upload_status table has the studies leads concate

[2020-08-13 14:51] andrewelamb commented on #40
@allaway @jaybee84

Unfortunately it seems I can't fix both the plotly hover labels and legends at the same time using ggplotly, due to this
[bug](https://github.com/ropensci/plotly/issues/1164).

I see 4 options:

-Wait til someone fixes the ggplotly issue
-Use both fill and color aesthetics(which causes the doubled hover over label)
-Use only the fill aesthetic(which causes the malformed legend

[2020-08-13 16:50] jaybee84 commented on #45
For upload status plot: filter "studies" and "files" by funder > join by study name > clean > plot
For annotation status: filter "studies" and "files" by funder > join by study name > clean > filter by selected studyLead > plot

[2020-08-13 16:51] jaybee84 commented on #45
confirming that the StudyLeads are concatenated by " | "

[2020-08-13 16:54] jaybee84 commented on #45
only ("studyLeads", "studyName") columns selected from "studies" table and merged with "files" table to append studyLeads to the "files" table

[2020-08-14 04:59] jaybee84 commented on #40
I am in favor of remaking the plots with plotly to resolve this issue.. we can divide up the modules among ourselves for the conversion  :)

[2020-08-14 15:31] jaybee84 commented on #29
#47

[2020-08-14 15:33] jaybee84 commented on #39
addressed by #46

[2020-08-14 15:34] jaybee84 commented on #43
related to issue #40

[2020-08-14 15:38] jaybee84 commented on #40
related to issue #43

[2020-08-14 16:55] andrewelamb commented on #44
@jaybee84 @allaway Could you elaborate a little more on the author issue?

If you want to use a stacked bar chart here are my ideas for being able to show resourceType and studyName

- Let users toggle between the two(or more)
- Create a new factor that is the combination of resourceType:studyType so that StudyA|analysis, StudyB|analysis, StudyA|dataset etc... each have their own color

[2020-08-14 20:10] allaway opened #48 "remove second-level projectLive directory and move contents into root directory of repo"
This will make it easier to deploy on the shiny server.

[2020-08-14 21:16] jaybee84 commented on #48
We are also contemplating moving to a fresh repo (possibly on Sage Bionetworks) to help the maintenance of the code in the longer term and open access to the code-base without any unwanted data release from history

[2020-08-18 18:04] allaway opened #52 "export study report function"
It would probably be handy for the funders to be able to click a button and get a PDF of the plots for that study.

[2020-08-18 20:34] andrewelamb commented on #43
I think the solution is to leave color in for now unless we get rid of the plot legends, or [this](https://github.com/ropensci/plotly/issues/1164) is ever fixed.

[2020-08-19 17:31] jaybee84 opened #53 "Add "Take me back to the Data Portal" button to "About" page"
Implementation:
1. Add button interface
2. Helpful message to take users back to the Data portal

Needed because:
1. enable 360 deg navigation from portal, into the app, and back

[2020-08-20 18:50] #40 closed

[2020-08-20 21:42] #43 closed

[2020-08-20 21:43] #25 closed

[2020-08-20 21:43] #29 closed

[2020-08-20 22:08] allaway commented on #48
closed by #62

[2020-08-20 22:08] #48 closed

[2020-08-24 19:13] allaway opened #70 "remove selectizeInput from study data focus plots"

[2020-08-24 20:03] jaybee84 opened #71 "Report bugs in UI for triaging"

[2020-08-24 20:12] jaybee84 opened #72 "Move Study Upload Timeline to Snapshot Module"
The plot will reside below the "Resources Generated" plot
- Top left Drop down menu: Consortium names or ALL
- X-axis - faceted by year
- Y-axis - Study Name instead of investigator names
- Bar plot colored by resourceType

Since this plot is being added, we can drop the legends from the "resources generated" plot

[2020-08-24 20:16] jaybee84 opened #73 "Move "Annotation Status" plot to "Participating Studies" module"
- Plot will be driven by the study selected from the table
- Y-axis label not required since the selected study is plotted

[2020-08-24 20:25] #44 closed

[2020-08-25 16:39] andrewelamb commented on #72
@jaybee84 I don't understand why 'Since this plot is being added, we can drop the legends from the "resources generated" plot' is true?

[2020-08-25 16:41] andrewelamb commented on #73
@jaybee84 Should this one still be filtered by the selected author since its not in the study leads module?

[2020-08-25 16:45] jaybee84 commented on #72
The legend in the "resources generated" show the study name which is also visible with hover. The double click feature of the legend which shows what resources have been added over time; this will be visible from the study upload timeline plot that will be added here.

The only thing we will miss is the resourcetype (i.e. genomic variants, gene expression etc). For specific studies, this informati

[2020-08-25 16:49] jaybee84 commented on #73
No, this one should now be filtered by StudyName like the other plots in the "Study Summary" module

[2020-08-25 21:54] jaybee84 commented on #34
I took a look at the files /folders that are coming up here. Some are due to annotation requirements, and some due to changes in our annotation and project creation structure over the years. The aim of the new submissions module is to be able to track these.

TLDR:
- For the purposes of projectLive, use StudyName from Studies table whenever applicable (transform NA to Not Annotated), unless projec

[2020-08-26 14:31] andrewelamb commented on #34
` data 3: use the associated studyName in Studies Table and transform NA to Not Annotated (this is a dataset that seems to be > made in-house, and does not belong to a PI contributed Study)`

I assume you mean the studyName is the files table?

[code]

This worked for ~200 of the files. ~800 of the files didn't have a "benefactorId" = "studyId" match. ie. files without a studyName, whose projectId

[2020-08-26 18:44] jaybee84 commented on #34
- The default for all files should be using studyName from Studies table. If no studyName is listed on Studies table, set to Not Annotated.
- studyLeads should also be Not Annotated for these files

This is due to local sharing settings set on these folders. For now, lets do the default studyName and studyLeads from the studies table (in this case NA). Going forward all new data will have the "dat

[2020-08-26 19:08] jaybee84 commented on #34
Actually, for the 800 files where neither projectID nor benefactorId match the studyId in Studies table, can we transform NA to "NA due to older study structure"

[2020-08-26 20:03] andrewelamb commented on #34
@jaybee84  So just to confirm:

`
data1 <- files_table %>%
  dplyr::select(id, name, studyName) %>%
  dplyr::inner_join(
    dplyr::select(studies_table, studyName, studyLeads),
    by = "studyName"
  )

data2 <- files_table %>%
  dplyr::filter(!id %in% data1$id) %>%
  dplyr::select(id, name, projectId) %>%
  dplyr::inner_join(
    dplyr::select(studies_table, studyName, studyId, studyLeads),

[2020-08-26 21:03] jaybee84 commented on #34
Yep, that is correct! :)

[2020-08-28 17:50] jaybee84 opened #77 "Branch out the milestone reporting functionality for individual studies"
- facilitate milestone reporting for a funded study
- use cases
- which plots are most helpful
- timeline of milestone
- where should it be hosted
- automated email notification to Sage Curator for annotation check
- If annotation status >> 50%, automated email to studyLead with generated milestone report

[2020-08-28 21:28] jaybee84 commented on #71
- Participating studies module : projectID in study summary showing NA for some studies. If studyId is available that should be shown for these studies.
- Multiple plots : Y-axis label overlaps Y-axis values
- Multiple plots: X-axis values should not show negative values

[2020-08-28 21:49] #72 closed

[2020-08-28 21:49] #73 closed

[2020-08-28 21:49] #70 closed

[2020-08-28 21:50] #42 closed

[2020-09-02 16:47] #34 closed

[2020-09-02 22:17] jaybee84 commented on #71
Y-axis labels of File upload timeline plot is causing the plot to be squished

[2020-09-02 22:31] jaybee84 commented on #71
Folders are being counted as files in projects.

[2020-09-02 23:12] #53 closed

[2020-09-08 20:06] jaybee84 commented on #71
Study names too long in the Snapshot page File Upload timeline

[2020-09-08 20:09] jaybee84 commented on #71
#39

[2020-09-08 20:16] jaybee84 commented on #71
Y axis labels overlapping on Y axis labels

[2020-09-08 20:20] jaybee84 commented on #71
NF data portal button - make it dark

[2020-09-08 20:21] jaybee84 commented on #71
File upload timeline - axis ticks should be integers

[2020-09-08 21:40] jaybee84 commented on #71
* Layout of the study summary page:

Study Summary
Study Timeline
Data focus
Annotation
Publication

* Study Timeline
- Facet boxes should be bigger to fit the month and year
- X-axis ticks can be taken off in plots

* Switch to study Id in the study summary

* Disease focus --change from list column to string column

* Funding partner instruction: better to have a call to action e.g. "Click on a

[2020-09-08 21:51] jaybee84 opened #79 "Add module to give sage insiders tracking functionality"
- Detect problem files
- Detect problem annotations due to misses of running annotation scripts

[2020-09-08 22:05] jaybee84 commented on #71
I kinda jotted down the bugs as we were going through it.. @andrewelamb please let me know if something doesn't make sense

[2020-09-18 15:37] andrewelamb commented on #71
"Facet boxes should be bigger to fit the month and year"

This is a know bug:

https://stackoverflow.com/questions/51968039/labeling-facet-grid-with-multiple-lines-of-text-on-y-label

[2020-09-18 15:38] andrewelamb commented on #71
"File upload timeline - axis ticks should be integers"

Could not find a solution for this.

[2020-09-18 15:43] andrewelamb commented on #71
"Y-axis label overlaps Y-axis values"

This is  known bug:

https://github.com/ropensci/plotly/issues/1224

[2020-10-06 20:53] #45 closed

[2020-10-06 20:53] #71 closed

[2020-10-06 20:56] jaybee84 opened #83 "Add a kron job for updating RDS files"
the job should do the following things every month

1. run a script to add study name, studyLead, and funder to any newly added files in the "Portal-Files" table
2. run the data-raw scripts in the shinyapp on the server

[2020-10-06 21:03] #39 closed

[2020-10-07 16:27] #24 closed

[2020-10-07 17:34] jaybee84 opened #88 "Add email or info box notification that new files have been added to a certain study"

[2021-01-12 06:22] jaybee84 opened #89 "Any plot that requires "Consortium" is not rendering due to discrepancies in NF portal table schema changes"
The column name "Consortium" has been changed to "Initiative" in the Portal_studies table due to schema updates. This has broken the rendering of any plots that use this column for grouping.

[2021-01-12 06:25] jaybee84 commented on #89
Can we add "consortium" and "initiative" both as interchangeable grouping variables?

[2021-01-12 06:33] jaybee84 commented on #89
I have temporarily reverted the "studies" RDS file to reflect "consortium" as a column name to prevent the live app from breaking, but in the future we want to be able to support both "consortium" and "initiative" as possible column names.

[2021-01-12 18:56] jaybee84 commented on #89
Sorry for my earlier edit of the title :)

The concept of consortium is already configurable in the data_config.json file.
The current bug is due to discrepancies in schema that currently exists in NF portal tables (i.e. Portal_Studies is updated to "initiative", but Portal_files still has old column "consortium")

[2021-01-12 19:55] jaybee84 commented on #77
This is high priority for V2.0 release. So I am adding more details to the issue to properly scope it.

**Vision:**
Study-lead submitted a data sharing plan(DSP) at the beginning of their funding term outlining their milestone deliverables(number of files/samples of certain experiments) and the due dates. When the due dates approach, this module will help the users track the milestone.

The DSPs a

[2021-01-12 22:49] #89 closed

[2021-01-25 21:34] jaybee84 opened #93 "Add Sage theme to the plots"

[2021-01-26 22:20] allaway opened #94 "new visualization: graphical summary of new uploads"
The new uploads table is helpful, but I found myself wanting to see a graph-based summary, so I could what know who to reach out to requesting annotations (e.g. x axis: study name, y axis: file count, color: annotation status, maybe?)

[2021-01-27 22:01] allaway opened #95 "change favicon"
golem is nice and all but maybe we could change it to something on brand for NF? :)

[2021-02-04 17:32] allaway opened #96 "change "consortium" to "initiative" in all instances"
To keep the language consistent with our other resources, now that we're 'officially' calling this grouping of studies an "initiative"

[2021-02-04 17:36] allaway opened #97 "add "initiative" to participating study table"

[2021-02-04 17:53] allaway opened #98 "make study table filterable"
I was using the app today to try and evaluate cNF initiative projects but it was a little difficult. It would be helpful to have the ability to filter some of the study table columns. The `reactable` table library is really good for this!

[2021-02-04 17:53] allaway opened #99 "Add issue template"
So that I stop leaving such poorly structured issues ;)

[2021-02-04 18:58] allaway commented on #96
I see that this is fixed on develop, but not deployed to the server yet.

[2021-02-04 18:58] #96 closed

[2021-02-04 19:00] jaybee84 commented on #98
Are you trying to filter the study table in the "Participating Studies" module?

The search bar on top should let you filter the studies, but currently we dont have the "initiative" column included in the table so finding studies by initiative is not possible right now in that study table.. we are working on including that column.

However, you can filter by initiative on the "snapshot" module to

[2021-02-04 19:09] #99 closed

[2021-02-04 19:10] jaybee84 commented on #88
Refer to this function: https://github.com/Sage-Bionetworks/synapsemonitor

[2021-02-04 19:14] allaway commented on #98
Yep, I filed #97 first because that blocks this. #87

I think that typing in the search is an OK way to enable filtering, but it's easier to understand what data exist to search from if you have a dropdown of options (https://nf.synapse.org/Explore/Files click table filter icons as an example).

I actually thought that `reactable` supported this, but looking into it a bit more, I'm not sure it act

[2021-02-04 19:21] allaway opened #101 "Open synapse links in new tab"
**Is your feature request related to a problem? Please describe.**
Currently, when I click on an external link in the app (I think the only place where this is at the moment is the Study Summary box, Unique Study ID Field, but I could be wrong), it opens in the same window. This means I have to navigate back to the shiny app, and start from the beginning (i.e. I don't get returned to the same spot

[2021-02-19 18:45] allaway opened #103 "Publications with missing studies are invisible in Publication Status plot"
**Describe the bug**
We have one publication in the portal that is associated with a funding agency, but is not affiliated with a specific study. As a result, the plot has an `NA` that shows up as blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Select NTAP as funder.
2. Navigate to Publications tab.

**Expected behavior**
I would expect this to be assigned a "Not Annotated" value so t

[2021-02-19 18:51] allaway opened #104 "Stringlist'ed values are not sorted before summarizing and plotting"
**Describe the bug**
String-list values are concatenated for plotting (I think, anyway, because the source table column I am looking at is a string list). However, the do not seem to be sorted consistently before concatenation, resulting in multiple groups for the same category. See `Plexiform Neurofibroma | Cutaneous Neurofibroma | MPNST` and `Plexiform Neurofibroma | MPNST | Cutaneous Neurofibro

[2021-02-22 15:02] andrewelamb commented on #103
@allaway This seems to have been fixed using the module from projectlive.modules.

[2021-02-22 15:02] #103 closed

[2021-02-24 19:39] #97 closed

[2021-02-25 18:13] #98 closed

[2021-03-01 15:51] #93 closed

[2021-03-01 19:15] jaybee84 commented on #77
The vision for the plot:

In the Study Summary Page, a study is selected and the following "Milestone Report Box" (containing a bar plot) emerges in addition to the other plots:
1. Top level dropdown list to choose a certain milestone [This milestone number and the associated date of upload is pulled in from Incoming Data Table]
2. For a chosen milestone, use date_of_upload column to make a bar pl

[2021-04-07 21:13] jaybee84 opened #118 "Parity among legend colors between two plots in the `Researcher reported milestone`"
**Is your feature request related to a problem? Please describe.**
The colors of the bars corresponding to `image` is red in left hand side plot, and blue in right hand side plot. See below:
<img width="1423" alt="Screen Shot 2021-04-07 at 2 09 31 PM" src="https://user-images.githubusercontent.com/17917521/113934834-12782e80-97ab-11eb-8a0d-0295674b2e6e.png">

**Describe the solution you'd like**
T

[2021-04-08 22:09] jaybee84 opened #119 "User feedback : Internal stakeholders"
**Is your feature request related to a problem? Please describe.**
We want to get your preliminary feedback on the `Milestone Tracker` submodule. Please check out the plots in the `Participating Studies` module in the [staging site](https://shiny.synapse.org/users/jbanerjee/testprojectlive/)

**Describe the solution you'd like**
* Is anything wrong with the plots?
* Does it convey what you want to

[2021-04-08 23:56] kthrog commented on #119
Is anything wrong with the plots?

    Does it convey what you want to track?

    **How can we improve the viz?**

Also, the 'specify number of days' is a bit confusing to me here. I assume most people would want to see all deliverables in accordance with milestones so far. If possible, I might display a plot set to default amount (365 days perhaps?) first, and then allow the user to reconfigure

[2021-04-09 23:25] allaway commented on #119
Is anything wrong with the plots?

    Does it convey what you want to track?

    How can we improve the viz?

Instead of a dropdown in the Researcher Reported milestone section, to reduce the number of clicks since there are only a few simple options, I'd suggest radio checkbox or radio button....I'm partial to shinyWidgets: http://shinyapps.dreamrs.fr/shinyWidgets/

Nice work all, I think that

[2021-04-15 21:24] jaybee84 commented on #119
thanks all !

The choice to not plot resourceType or dataType was a conscious one. We want to make sure that investigators are uploading correct fileformats for each datatype. If an investigator uploads an excel file and annotates it with geneExpression (as resourceType) for a milestone, plotting the resourceType will show the milestone is fulfilled but actually uploading the correct fileFormat wi

[2021-04-15 21:29] jaybee84 commented on #119
@andrewelamb : TODOs from above feedback:

1. In the `Internal Milestone Tracker`, a `slider bar` may be a better choice for the day selector.
2. The day selector should be placed after the milestone date table
3. To clarify the dates and time windows in the milestone date table, lets rename the columns to say: `Milestone Number`, `Designated upload date`, `Search window start date`, `Search windo

[2021-04-16 15:00] allaway commented on #119
"maybe a happy medium could be adding the resourceType as a tooltip on
hover."

How about the other way around, or adding an additional facet by
fileFormat? I think my concern w/fileFormat: this is something we can
interpret (e.g. we expect a fastq or a bam for geneExpression), but I don't
know that a funder representative will necessarily be able to make that
leap. I think a dataType (which is wh

[2021-04-16 17:42] jaybee84 commented on #119
I like the idea of additional faceting by fileFormat and dataType/resourceType, so have a dropdown list where user can choose what they want to facet by. We can make the dataType facet default and then user can choose fileFormat for additional info.
- one concern for me here is what happens if someone uploads an excel file and annotates dataType as `geneExpression`. The dataType facet will show mi

[2021-04-22 17:58] jaybee84 opened #120 "Resources generated plot in Snapshot module is not showing the top 5 resources"
**Describe the bug**
The resources generated plot should show named bars for top 5 resources and the rest should be clubbed into `Other`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Snapshot` module
2. Scroll down to `Resources generated`
3. `Other` seems to be a large bar

**Expected behavior**
Check count of each resource (cumulative) until year (n-1), i.e. for 2021 the counts sh

[2021-04-22 18:52] andrewelamb commented on #120
@jaybee84 I think I understand this.

What you are asking for is controllable by the config file.

[CSBC](https://github.com/Sage-Bionetworks/projectLive_demo/blob/demo_INCLUDE_new/inst/summary_snapshot_module.json#L41)

[NF](https://github.com/Sage-Bionetworks/projectLive/blob/develop/inst/summary_snapshot_module.json#L98)

You can see in NF "Other" contains both NA values, and all the values tha

[2021-04-22 19:02] jaybee84 opened #121 "Adding text to the milestone report module"
Top level header in the box:
`The following plots track the expected and actual data uploads to this study associated with each milestone`

Header text above first dropdown menu (fileFormat/ dataType):
`Select the visualization type for the plots from the list below`

Header text below the `Researcher reported milestone upload`
`Select a milestone from the list below. The plots will show the expec

[2021-04-22 19:19] jaybee84 commented on #120
It seems we cant use both top_values and replace_values.
`Error: Can not recode column with both fields top_values and repalce_values`

I edited `na_replace` to `pendingAnnotation` on my local machine, will push it to the repo soon.

[2021-04-22 19:51] andrewelamb commented on #120
@jaybee84 That is true, as they aren't really compatible.

[2021-04-23 14:48] allaway opened #122 "Pending Annotation lumped into "Other" in Resources Generated plot"
**Describe the bug**
Looking at this plot, it appears as if Pending Annotation is being included as "other" in the resources generated plot.

**To Reproduce**
Set Funding Partner = NTAP
Click Snapshot
Scroll to Resources Generated module.

**Expected behavior**
Pending Annotation should probably be its own category to reflect that data is missing.

**Screenshots**
<img width="1648" alt="Screen Sho

[2021-04-23 15:33] andrewelamb commented on #122
@allaway @jaybee84 Is this related to #120 ?

[2021-04-23 15:51] allaway commented on #122
Seems related, though it's not clear to me whether I and @jaybee84 are
asking for opposite or the same thing. :)

On Fri, Apr 23, 2021, 8:33 AM andrewelamb ***@***.***> wrote:

[2021-04-23 15:56] jaybee84 commented on #122
:D .. These are related and incidentally I too suggested adding `pendingAnnotation` in addition to `Other` just yesterday, but had not pushed in the change yet. I have now edited the live app such that `pendingAnnotation` is being showed in addition to `Other` in the `resources generated` plot

In #120 I have asked for additional functionality of selecting `top 5` resources to be showed in additio

[2021-04-23 15:59] #122 closed

[2021-04-23 16:01] andrewelamb commented on #120
@jaybee84 were you able to get what you wanted using the config?

[2021-04-23 21:47] jaybee84 commented on #120
From the config I could change `na_replace` to show `pendingAnnotation` instead of `Other`

But the selection of top 5 resources is still pending. It seems that it is incompatible with `replace_values`. Is there a specific reason for it?

[2021-04-23 22:42] jaybee84 commented on #120
Thanks for the chat @andrewelamb .. Just for future notes, users can only choose `top_5` or `replace_values` because the logic gets unduly complicated to support both at the same time. This is because the `replace_values` chosen manually by the user may not replace all the names of the `top_5` chosen automatically for display, and this would make the visualization untidy. So it was decided that th

[2021-04-26 15:22] #101 closed

[2021-05-03 21:54] jaybee84 commented on #119
Hi All,

Please take a look for round 2 of review: https://shiny.synapse.org/users/jbanerjee/testprojectlive/

Describe the solution you'd like

* Is anything wrong with the plots?
* Does it convey what you want to track?
* How can we improve the viz?

[2021-05-03 22:10] allaway commented on #119
Looks great! I think this is ready to demo with external stakeholders. I would suggest starting with Sang to get his feedback.

[2021-05-03 22:11] allaway commented on #119
The only improvement that I see that is remaining is to annotate the data so that the plots show up. Can I help with that? I'm working on doing this for the Genetic Studies of NF project right now anyway...

[2021-05-03 22:42] jaybee84 commented on #119
Happy to set up some time with Sang to demo this.

Re: annotation: definitely would need your help on that. I think we just need to go down the list of all studies to add the reportMilestones and dataTypes. We can start with [these studies listed in the incomingData Table](https://www.synapse.org/#!Synapse:syn23364404/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIzMzY0NDA0IiwgInNlbGVjdGVkRmFjZXR

[2021-05-25 00:40] allaway opened #132 "make projectLive OAuth-capable"
**Is your feature request related to a problem? Please describe.**
The preferred long-term direction for Shiny apps interacting with Synapse is to use OAuth.

**Describe the solution you'd like**
OAuth implemented on projectLive, as templated here: https://github.com/Sage-Bionetworks/SynapseShinyApp

**Describe alternatives you've considered**
n/a

**Additional context**
Other important instructio

[2021-05-25 00:46] #77 closed

[2021-05-25 00:47] #118 closed

[2021-05-25 00:47] #120 closed

[2021-05-25 00:47] #121 closed

[2021-05-25 02:08] thomasyu888 commented on #132
@allaway , @andrewelamb : Its this particular branch: https://github.com/Sage-Bionetworks/SynapseShinyApp/tree/reticulate

[2021-05-25 02:14] thomasyu888 opened #133 "Link to/provide instructions on hosting your own projectLive in readme"
**Is your feature request related to a problem? Please describe.**
If I wanted to host projectLive for my project, what tables/data are required?  Is there a specific format the data has to be in for this application to work?

[2021-05-25 14:51] andrewelamb commented on #132
@thomasyu888 I had the same thought actually. Since we will shortly have three different projectlive apps, and they will all need this functionality

[2021-05-25 14:54] andrewelamb commented on #133
@thomasyu888 I don't have a documentation for this(yet). The answer really depends on what functionality you want to use.

[2021-06-01 06:58] thomasyu888 commented on #133
Thanks @andrewelamb .  What are the functionalities available to us?

[2021-06-01 12:05] thomasyu888 opened #134 "Make this github repository a `template` so that other github repos can be created easily from this one"
**Is your feature request related to a problem? Please describe.**
There is a feature in `Settings` where you can make this repository a "template".  This will make creating github repos from this one much easier.  An example looks like this:

![image](https://user-images.githubusercontent.com/10556275/120320350-a7635800-c314-11eb-9ef9-0103f26e9ae4.png)

[2021-06-04 19:12] #79 closed

[2021-06-04 19:16] #119 closed

[2021-06-23 22:16] jaybee84 opened #135 "ProjectLive shows more files than exists in Synapse"
**Describe the bug**
GFF reported that for some studies, projectLive is showing more number of files in the top table in the `participating studies` module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Participating Studies`
2. Click on a study row .. check the number of files listed in the top table
3. Scroll down to more information about the study
4. Click o Unique Synapse ID
5.

[2021-06-23 22:19] jaybee84 commented on #135
Interesting observation : many of the studies where this bug appears has 8 files on Synapse, and projectLive shows 11 files. Is there some kind of imputation going on for studies with 8 files?

[2021-06-23 22:27] jaybee84 commented on #135
After a bit of sleuthing I think I understand the source of this error:
 The portals-files table now includes `folders` in addition to all `files`. All the GFF studies with 8 files have 3 folders in addition to all the files, that would make the file count for these studies to 11.

Similarly, it would add the count of `folders` in any study to the number of files being computed for the study. This

[2021-06-23 22:27] allaway commented on #135
Are you detecting tables, by chance?

On Wed, Jun 23, 2021 at 3:19 PM Jineta Banerjee ***@***.***>
wrote:

[2021-06-23 22:29] allaway commented on #135
Ah, haha, that makes sense! You should be able to select these away with
`concreteType` or similar

On Wed, Jun 23, 2021 at 3:27 PM Robert Allaway ***@***.***>
wrote:

[2021-06-23 22:29] jaybee84 commented on #135
We need to add the option to include only files while making RDS files from the Portal-Files table.

I.e. in the `data-raw` folder, the `files.R` needs to include an option to select only files like so:
```SELECT * FROM syn16858331 WHERE ( ( "type" = 'file' ) )```

[2021-06-23 22:32] jaybee84 commented on #135
@andrewelamb would you like to add in this option at the `projectlive.modules` level?

[2021-06-23 22:53] jaybee84 commented on #135
This issue has been fixed for `projectLive-NF` in #136. The RDS files for NF have been updated too.

[2021-06-23 22:53] #135 closed

[2021-07-26 23:36] #132 closed

[2021-07-30 15:01] andrewelamb opened #140 "Consider renaming repo"
projectLive_NF?

[2021-07-30 15:04] andrewelamb opened #141 "Clean up problem file annotations"
Code that did this for the new submissions module starting on line 86:

https://github.com/Sage-Bionetworks/projectLive/blob/master/R/mod_new_submissions.R#L86

[2021-08-23 20:10] andrewelamb commented on #83
@jaybee84 Would it be all right to use @thomasyu888's credentials for this? He would need read permissions to all the source tables/files, and edit permissions to the directories we store the RDS files.

[2021-08-23 21:20] jaybee84 commented on #83
Added Tom to all the necessary teams and folders... let me know if you run into any issues

[2021-08-23 21:22] jaybee84 commented on #83
We do have an NF-OSI service account. In the future it would be great to use the credentials of that account for this job (once testing is complete) :)

[2021-08-24 16:34] andrewelamb commented on #83
@thomasyu888 Could you try using this image:

quay.io/andrewelamb/projectlive_nf_files:1.0

[2021-08-24 16:44] thomasyu888 commented on #83
Thanks @andrewelamb , can you provide me with the commands to be able to run this?

[2021-08-24 16:45] andrewelamb commented on #83
It's just:
` docker run quay.io/andrewelamb/projectlive_nf_files:1.0`

[2021-08-24 16:50] thomasyu888 commented on #83
@andrewelamb Do i have to be logged into quay.io to pull that image?

[2021-08-24 16:51] andrewelamb commented on #83
I don't think so, it's not set to private

On Tue, Aug 24, 2021 at 9:50 AM Thomas Yu ***@***.***> wrote:

[2021-08-24 16:54] thomasyu888 commented on #83
[code]

[2021-08-24 16:56] andrewelamb commented on #83
That sucks. I'm having trouble logging into quay.io since the allow only logging in via redhat id. I'll try dockerhub I suppose.

[2021-08-24 17:05] andrewelamb commented on #83
Ok try
`docker run andrewelamb/projectlive_nf_files:1.0`

[2021-08-24 18:30] thomasyu888 commented on #83
Thanks @andrewelamb:

[code]

[2021-08-24 19:13] andrewelamb commented on #83
Sweet!

[2021-08-24 19:47] andrewelamb commented on #83
The [files](https://www.synapse.org/#!Synapse:syn24474593) were last updated by @thomasyu888, so it looks like it worked!

 @jaybee84 You want to check everything got downloaded correctly?

[2021-08-24 20:31] jaybee84 commented on #83
will do and update here..

[2021-08-25 12:51] thomasyu888 commented on #83
@jaybee84 @andrewelamb The kubernetes deployment is now up and running and it's set to run once a day.  You can see the deployment yaml here in this PR: https://github.com/Sage-Bionetworks/kubernetes_deployments/pull/1.

[2021-09-07 16:04] #140 closed

[2021-09-15 00:03] allaway opened #145 "visualization for estimated embargo end date per study, and add to study summary"
**Is your feature request related to a problem? Please describe.**
It would be helpful for each study to know when the Estimated Embargo End Date is. We collect this information in the data sharing plans currently. We don't want to add this to the public Studies table, necessarily, because this is information that is subject to change and the investigators might feel pressured to meet a deadline t

[2021-09-15 00:04] allaway commented on #145
This is a medium-priority feature, I'd say. Not high, but useful.

[2021-09-21 14:31] andrewelamb opened #146 "Add progressReportNumber annotation to ProjectLive - IncomingData"
@allaway: "Hey folks, at the request of a funder I am remapping "reportMilestone" to "progressReportNumber". I want to avoid breaking anything in projectLive, so I will be duplicating this annotation on all files, but all future data will come in as progressReportNumber, so it will need to be changed in projectLive to get any new data. (this is specifically regarding the NF configuration of projec

[2021-09-21 14:32] andrewelamb opened #147 "Update docker image to use progressReportNumber annotation"

[2021-09-21 14:33] andrewelamb opened #148 "Update config file to use progressReportNumber annotation"

[2021-09-22 16:54] jaybee84 commented on #146
added new column to the `projectLive_incomingData` table

[2021-09-22 16:54] #146 closed

[2021-09-30 20:36] jaybee84 opened #150 "X axis of "Publication Year" in "Participating Studies" module showing decimal places"
**Describe the bug**
X axis of "Publication Year" in "Participating Studies" module showing decimal places instead of being integers.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://shiny.synapse.org/users/jbanerjee/testprojectlive/
2. Click on NTAP
3. Click on Participating Studies, and search topilko
3. Scroll down to Publication Status
4. See error

**Expected behavior**
Yea

[2021-10-04 15:16] #147 closed

[2021-10-04 15:16] #148 closed

[2021-12-09 21:47] jaybee84 opened #153 "Change color of bars in a plot, download plot data as an excel file"
**Is your feature request related to a problem? Please describe.**
I want to change the color of the bars in the plots and also want to download the data in the plot as a table (e.g. excel file)

**Describe the solution you'd like**
I would like to have a button near each plot like `download the data in this plot as excel`
I would also like a UI near the plot where I can change the color of the ba

[2021-12-09 21:49] #83 closed

[2021-12-17 17:32] allaway opened #167 "Add error handling for expired oauth token"
If you load a url with an expired oauth token, for example, if you  _refresh_ the app, e.g. https://shiny.synapse.org/users/jbanerjee/projectLive/?state=432e4UWH1H&code=263e4710-e83c-493c-b631-b2e977a32079, the app will disconnect without warning. It would be great if this was handled more gracefully (e.g. detect invalid token, punt users to login page).

I'm posting this over in the Data Curator

[2022-01-07 22:28] #150 closed

[2022-01-07 22:38] jaybee84 opened #164 "Pull ACL metadata directly from files for plot 1 in Summary Snapshot module"
**Is your feature request related to a problem? Please describe.**
Yes. Currently the `PRIVATE`, `PUBLIC`, and `REQUEST ACCESS` annotations are manually added to the `Portal-Files` table using a script. This makes updating hard to scale. They should be automatically populated using ACL metadata present on files.

**Describe the solution you'd like**
- Find if there are specific system or otherwise

[2022-01-07 22:41] #35 closed

[2022-01-13 21:28] jaybee84 opened #165 "Populate plots in `data focus` and `study timeline` if data is uploaded to a project but not annotated"
**Is your feature request related to a problem? Please describe.**
The sections `Study Timeline` and `Data Focus` do not show any plots if the project has files but they are not annotated properly.

**Describe the solution you'd like**
Populate the sections mentioned above with plots but showing that files are `Pending Annotation`. `Study Timeline`  section will  mirror the current `Annotation Act

[2022-01-13 21:30] jaybee84 commented on #165
@allaway please feel free to add to this issue.

[2022-01-21 15:42] andrewelamb opened #166 "Create repo to host docker image for data processing"
[Repo](https://github.com/Sage-Bionetworks/projectlive-nf-data)

[2022-01-21 16:12] andrewelamb commented on #166
[Issue](https://github.com/Sage-Bionetworks/projectlive-nf-data/issues/1)

[2022-01-21 18:03] andrewelamb commented on #167
@rrchai @BrunoGrandePhD

I'm adding this line:

tags$script(htmlwidgets::JS("setTimeout(function(){history.pushState({}, 'Data Curator', window.location.pathname);},2000);"))

Obviously 'Data Curator' needs to be changed, but to what?

[2022-01-21 18:11] rrchai commented on #167
@andrewelamb It is the page title, e.g. "ProjectLive NF"

[2022-01-21 18:53] andrewelamb commented on #95
@allaway Could I get more context on this one? :)

[2022-01-21 18:54] jaybee84 commented on #164
Need to discuss with Ann to understand governance 2.0 related annotation that may be helpful here

[2022-01-21 18:56] andrewelamb commented on #52
@allaway Could I get more context on this one? :)

[2022-01-21 22:02] allaway commented on #95
Sure! The current favicon for the app is a golem logo, which is not helpful. I would recommend using something like:

https://t0.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://nfdataportal.org&size=256

[2022-01-24 17:34] andrewelamb commented on #94
@allaway Would you like one control for the days, and both the data table and new plot to respond to it?

Also is there a column called "annotation status". I'm not remembering it...

[2022-01-24 17:49] andrewelamb commented on #88
@allaway Could you elaborate on how you would see the app interacting with
synapsemonitor?

[2022-01-24 18:08] jaybee84 commented on #88
Hey @andrewelamb, since I created this issue, I am happy to chime in:

The flow I am envisioning :
1. New files are uploaded to study A
2. New file shows up in the `New Submissions` module of projectLive
3. One info box or notification box is present in the `About` page saying - `New files have been uploaded in Study A in the last 10 days`
4. Synapsemonitor in projectLive recognizes new file in st

[2022-01-24 19:47] andrewelamb commented on #94
@allaway How does this look:

![Screenshot from 2022-01-24 11-45-57](https://user-images.githubusercontent.com/7220713/150853553-aa1c4a47-0884-495c-8618-ff54c1ecc0bc.jpg)

[2022-01-25 00:44] thomasyu888 commented on #166
Create the docker image: https://hub.docker.com/repository/docker/sagebionetworks/projectlive-nf-cron

[2022-01-26 17:20] andrewelamb commented on #88
@jaybee84 Oops, I got it mixed up with the other three issues!

For the info box what would you like it to display in the following cases:

- no files have been uploaded in the last ten days
- X number of files have been uploaded in the last ten days in Study A
- X number of files have been uploaded in the last ten days across Study A, Study B, and Study C

For the cron job lets say on the 1st and

[2022-01-29 00:58] allaway commented on #94
That makes sense to me!

[2022-01-29 00:59] allaway commented on #94
No, there is not. I think this app uses resourceType annotation as a surrogate for whether or not something has been at least minimally annotated, but @jaybee84 could confirm

[2022-01-29 01:01] allaway commented on #94
@andrewelamb , that looks good to me! Looks like it is sorted reverse alphabetically..maybe something "prettier" like number of files?

I would change the fill color to something else that is a better surrogate for whether or not something is annotated (e.g. resourceType)

[2022-01-29 01:05] allaway commented on #52
Sorry for my delay! I was on vacation.
This is a really old issue, predating some of the newer features like exporting various plots.

My thought is that it would be nice to easily generate a report for each study that could export the contents of the single study detail page (not sure exactly what you all call it) into a single pdf so that they can archive the status. However, I'm not sure that t

[2022-01-29 01:06] jaybee84 commented on #94
Annotation status is tracked by checking whether  `assay` column has valid values. This is only tracked for files which have `resourceType` == `experimentalData`.

[2022-01-31 16:19] andrewelamb commented on #52
@allaway Sounds good. I'll take myself off the issue for now. If it ever becomes a priority let me know :)

[2022-02-01 19:46] andrewelamb commented on #94
@allaway @jaybee84 Here's what it looks like with Assay as fill:

![Screenshot from 2022-02-01 11-41-59](https://user-images.githubusercontent.com/7220713/152039619-898145c2-0d08-42e4-82a7-d0bee3ac752e.jpg)

We don't have the functionality to reorder the plot values at the moment. (Currently the plotly function does the counting, so there is never a count column to reorder on). I could add this fu

[2022-02-01 20:30] jaybee84 commented on #94
@andrewelamb  The plot looks good. One suggestion would be to use broken axes for the `number of files` so that the bars for projects with small number of new files would also be a bit more visible.

Re: reordering : I am happy to wait for the reordering function to come online before releasing this since we are not in a hurry for our next release.

[2022-02-01 20:41] andrewelamb commented on #94
@jaybee84 From a quick google search it doesn't look like plotly have an option for broken axes unfortunately.

[2022-02-01 21:08] allaway commented on #94
How about scale_x_continuous(trans = "log10")?

Cheers,
Robert

On Tue, Feb 1, 2022 at 12:42 PM andrewelamb ***@***.***>
wrote:

[2022-02-01 21:52] andrewelamb commented on #94
We are using plotly, [but that works as well](https://plotly.com/r/log-plot/).

[2022-02-02 16:52] #95 closed

[2022-02-02 20:11] andrewelamb opened #173 "Make develop default branch"
Settings <- Branches <- Default branch

Could we set develop to be the default branch? Then pull requests would by default be merged into it instead of master.

[2022-02-02 20:13] allaway commented on #173
Done.

[2022-02-02 20:13] #173 closed

[2022-02-02 22:25] andrewelamb commented on #94
![normal](https://user-images.githubusercontent.com/7220713/152247871-00ab2933-2a09-4618-b4a8-2ca33f0e4fb0.jpg)
![log10](https://user-images.githubusercontent.com/7220713/152247882-9f72a2bd-c596-4246-bff2-43660ad869f9.jpg)

[2022-02-02 22:32] jaybee84 commented on #94
The log10 plot is better in capturing the different studies who uploaded any data files and the break up of different data. Is there a way for the hover to show the original count (not the log version)?

[2022-02-02 22:35] andrewelamb commented on #94
@jaybee84 Not that I know of.

[2022-02-02 22:43] jaybee84 commented on #94
@andrewelamb I did a quick search, and I wonder if adding the count column using `[hovertemplate](https://plotly.com/r/hover-text-and-formatting/)` may help us out here. thoughts?

[2022-02-02 22:48] andrewelamb commented on #94
So I mispoke earlier when I said "We are using plotly, [but that works as well](https://plotly.com/r/log-plot/)." :)
We so use ggplot2, but then use plotly::ggplotly to convert it to plotly. I think we would need a ggplot2 solution, or somethign you can send to plotly::ggplotly.

[2022-02-03 04:05] jaybee84 commented on #94
[This](https://plotly-r.com/controlling-tooltips.html#tooltip-text-ggplotly) seems to suggest that you could potentially have the counts as a separate column and pass them to `text` as shown in the example, and then call that as the custom tooltip from `ggplotly`.

[2022-02-18 17:33] #167 closed

[2022-02-21 16:55] andrewelamb opened #175 "Minor fixes for deployment changes to help with local run"
@jaybee84 @allaway. @brucehoff  made some changes to how the app works to get it so that it deploys. This is the cause of the errors you are seeing  [here](https://github.com/Sage-Bionetworks/projectLive_NF/pull/174) and [here](https://github.com/Sage-Bionetworks/projectLive_NF/pull/168).

Two things you'll need to do, run the following code to create a python virtual env(as opposed to a conda env

[2022-02-21 17:18] brucehoff commented on #175
All: I'm interested in how supporting automated deployment to ShinyApps affects local builds and how to make both as easy as possible.  If performing a local build is too cumbersome, let's talk about how to make it more streamlined.

[2022-02-21 17:24] andrewelamb commented on #175
@brucehoff I think most folks at Sage are using miniconda as opposed to python virtual envs. We were up to this point for projectlive. I don't have any strong preferences.

[2022-02-21 17:52] brucehoff commented on #175
@andrewelamb One option is to add a Dockerfile to this repo' that takes care of setting up the virtual env', as well as all other dependencies, required for a local build.  One would then simply run the `docker build` and `docker run` commands to build and launch the app' locally.

[2022-02-21 19:19] jaybee84 commented on #175
@andrewelamb Thanks!
I have now created a python virtual env and installed synapseclient. But when I try to run projectLive locally, I am getting the following error:
[code]
I confirmed that synapseclient is installed in my python virtual env. Any idea why projectLive cant find it?

[2022-02-21 19:27] andrewelamb commented on #175
@jaybee84 https://community.rstudio.com/t/error-in-py-call-impl-unable-to-access-object/37147/3

You may need to restart rstudio?

Otherwise I would try starting with a clean clone of the repo. It maybe conflicts with the old conda env?

[2022-02-21 19:42] allaway commented on #175
In case it's useful, `reticulate::py_discover_config` can be helpful for figuring out what python reticulate happens to be using. When you call `use_conda` or `use_virtualenv` without `force = T`, reticulate will silently fall back on a different python if it can't find the one you are requesting.

[2022-02-21 19:44] allaway commented on #175
Sorry, that should be `required=T`, not `force=T`.

[2022-02-21 20:40] jaybee84 commented on #175
Thanks @allaway .. this may be happening here:
It seems that the `virtual_env python` is found but `reticulate` is falling back on the default `usr/bin/python`

[code]

@andrewelamb I think the reticulate config is being called through the `projectlive_modules`. Would you like to add the code snippet in there?

[2022-02-21 20:46] andrewelamb commented on #175
@jaybee84 I'm unclear on what you mean.

The called module is [here.](https://github.com/Sage-Bionetworks/projectlive-modules/blob/main/R/synapse_module2.R)

[2022-02-21 21:39] jaybee84 commented on #175
Please take a look here: https://github.com/Sage-Bionetworks/projectlive-modules/pull/53

I could not test it locally, but wanted to suggest a solution close to what I was referring to earlier. For some reason that I dont fully understand yet, adding this snippet to zzz.R which calls reticulate to make synapseclient available to the app did not work.

[2022-02-21 21:50] allaway commented on #175
@jaybee84 , when I was poking around earlier I saw this was in `globals.R` in this repo, I think you might want to edit this one instead: https://github.com/Sage-Bionetworks/projectLive_NF/blob/a83f12753525c4b28c8fe88a81f1f15f0f4cbbd1/R/global.R#L6

[2022-02-21 21:51] andrewelamb commented on #175
@jaybee84 That function you modified isn't used by the app, so changing it won't help.

The code for using reticlate and login is in these files:
R/zzz.R
R/global.R
R/app_server.R

[2022-02-21 21:55] jaybee84 commented on #175
Thanks @allaway and @andrewelamb ..

I edited both R/zzz.R and R/global.R ... neither helped..

I dont see reticulate being called in R/app_server.R ...

[2022-02-21 21:57] andrewelamb commented on #175
It's being called in R/zzz.R:

`### This file loads synapseclient and makes it globally available to the app
### Filename is zzz.R as per convention

synapse <- NULL

.onLoad <- function(libname, pkgname) {
  .GlobalEnv$synapseclient <- reticulate::import("synapseclient", delay_load = TRUE)
}`

[2022-02-21 21:59] jaybee84 commented on #175
Yes.. This is the first place I tried to modify (see comment [here](https://github.com/Sage-Bionetworks/projectLive_NF/issues/175#issuecomment-1047246499) .. unfortunately it did not work

[2022-02-21 22:03] andrewelamb commented on #175
@allaway have you got this to work?

[2022-02-21 22:05] allaway commented on #175
I have not tried...figured maybe too many cooks :)

@jaybee84 let me know if you want me to give it a shot on my laptop

[2022-02-21 22:08] jaybee84 commented on #175
@allaway Sure, happy to have you try..

[2022-02-21 22:09] andrewelamb commented on #175
Well you know (n = 2) > (n = 1)

[2022-02-21 22:19] andrewelamb commented on #175
@jaybee84 Look [here.](https://stackoverflow.com/questions/50145643/unable-to-change-python-path-in-reticulate)

"I observed that neither the technique "use_python('path')" nor the tactic of Sys.setenv(RETICULATE_PYTHON = 'path') in .RProfile worked for me (of course I am sure it must have worked for others.)

In any case the line at terminal,

which -a python python3
did produce two paths to choo

[2022-02-21 22:20] jaybee84 commented on #175
I got it to work on my end... The reason was the filepath.

In `R/global.R` adding `required = TRUE` was not working because the path called by `reticulate::use_virtualenv(file.path(getwd(),venv_name))` was not routing to the correct env. It assumes that the virtual env is loaded in the current working directory which in my case it is not..

Once I hard coded the right path to the `virtual_env`..

[2022-02-21 22:21] andrewelamb commented on #175
Can you show me the exact modifcation you made?

[2022-02-21 22:25] jaybee84 commented on #175
replaced
[code]
with
[code]

Note:
[code]
does not find the right path

[2022-02-21 22:30] andrewelamb commented on #175
@jaybee84 what directory were you in when you ran these commands:

`
python3 -m venv virtual_env
chmod 755 virtual_env/bin/activate
source virtual_env/bin/activate
pip3 install synapseclient
`

If you were in the directory with the app , ie. dir1/dir2/projectLive_NF, it should have created the virtualenv there

[2022-02-21 22:35] jaybee84 commented on #175
Aha.. I was not in the projectLive_NF dir when I ran the commands to create the virtual_env.

[2022-02-21 22:37] andrewelamb commented on #175
@jaybee84 Hopefully that's the issue :) Could you try that again and change the code back to

`reticulate::use_virtualenv(file.path(getwd(),venv_name), required = TRUE)`

and see if that works?

[2022-02-21 22:45] jaybee84 commented on #175
yep.. that worked.. :)

[2022-02-21 22:47] andrewelamb commented on #175
Great! Let's make sure it's working for @allaway before accpeting the PR.

[2022-02-21 23:28] allaway commented on #175
Can someone share the oauth_config.yaml details? I don't have the client id or secret.

[2022-02-21 23:31] andrewelamb commented on #175
They are in last pass under "Synapse Shiny local oauth client config"
make sure everything is quoted like:

client_id: "100052"
client_secret: "xxxxx"
app_url: "http://127.0.0.1:8100"

[2022-02-21 23:38] allaway commented on #175
Oh, I see, there is a generic config that folks are using for all apps running local. Interesting!

Anyway, I made the change to `reticulate::use_virtualenv(file.path(getwd(),venv_name), required = T)` and the app worked fine for me. Thanks!

[2022-02-21 23:49] andrewelamb commented on #175
Yeah it's an OAuth thing, i know enough about ti to get it to work.

[2022-02-22 00:22] #175 closed

[2022-02-22 00:43] #165 closed

[2022-03-31 20:49] jaybee84 opened #177 "ProgressReportNumber in the Milestone Tracker is not showing all milestones in some studies."
**Describe the bug**
ProgressReportNumber in the Milestone Tracker is not showing milestones 3 and above for some studies.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to projectLive-NF
2. Click on NTAP
3. Go to "Participating Studies"
4. Type Ray Mattingly in search box and select the "active" study
5. Scroll down to Milestone Tracker
6. The dropdown list only shows 2 milestones, but

[2022-03-31 20:58] jaybee84 opened #178 "Switch any joins or filters using studyName to use studyID or projectID"
**Describe the bug**
A study has a linked publication which is showing up in the Publications Module in projectLive-NF but not in the "Publication Status" section of the "Participating Studies" Module

**To Reproduce**
Steps to reproduce the behavior:
1. Go to projectLive-NF
2. Click on NTAP
3. Go to Participating Studies
4. Type Pratilas in the search box and select the study
5. Scroll down to 'P

[2022-04-01 16:39] andrewelamb commented on #178
@jaybee84 Those study names aren't the same. In the publications status module you are seeing "A Nerve Sheath Tumor Bank from Patients with NF1", when you are in the Participating Studies module you are selecting "A Nerve Sheath Tumor Bank from Patients with Neurofibromatosis Type 1 (NF1)".

When you select "A Nerve Sheath Tumor Bank from Patients with Neurofibromatosis Type 1 (NF1)" the there is

[2022-04-01 16:47] #94 closed

[2022-04-01 16:55] jaybee84 commented on #178
I see... I have edited the StudyName to "A Nerve Sheath Tumor Bank from Patients with NF1" ...
Can we rework the code here to use `studyID` instead of `studyName`. The studyNames keep changing but the studyID is unique. It would be great to have any joins using studyName use `studyID` or `projectID` instead.

[2022-04-01 16:58] jaybee84 commented on #178
I can see the publication status panels populated after changing the StudyName. So this issue if resolved. But I am keeping it open for a bit more so that we can switch to using studyID or projectID and avoid this issue in the future.

[2022-04-01 17:02] andrewelamb commented on #177
I'm not seeing those milestones for the study "Deconstruction and Reconstitution of NF1 Cutaneous Neurofibromas":

[code]

[code]

[2022-04-01 17:39] jaybee84 commented on #177
Hmm.. this could be because their data sharing plan specified milestone numbers 1 and 2 only, but the researchers are specifying milestone numbers 3, 4, 5 when they upload the data.

For the milestone module, we should try to capture all possible milestone numbers (in the incoming data table + in the "files" fileview).

[2022-04-01 17:45] andrewelamb commented on #177
I'm a little confused. Why are researchers uploading files for milestones that don't exist?

[2022-04-01 17:48] jaybee84 commented on #177
:) .. I think it is more like they did not specify these milestones in their data sharing plan early on...
Its not actually their fault.. a lot of these studies are pretty old, when we did not have detailed data sharing plans asking for specific milestone association for their file uploads... So this is an issue mostly caused because we had to retrofit this functionality.

[2022-04-01 17:54] allaway commented on #177
That said, it's probably important to display any milestones that we have info whether for the data or from the data sharing plans for because:
- plans change, and they might not tell us about those changes
- they might annotate with the wrong milestone number

[2022-04-01 18:00] andrewelamb commented on #177
I guess I'm really confused now. If the project is still ongoing why aren't the funders updating the incoming data sheet with the new milestones?

Also if the incoming data sheet doesn't have the milestone, how are supposed to know what the requirements for that milestone are?

[2022-04-01 18:09] allaway commented on #177
The milestones are set by the scientists, generally, and they might not (often don't) communicate these changes to us or the funder, at least not on a regular basis.

Some times they might provide data that wasn't initially planned for, ie. it's not data associated with any particular requirement. They also might promise data in milestone 1, but not provide it till milestone 4, for example. Even t

[2022-04-01 19:50] #166 closed

[2022-04-01 19:53] andrewelamb commented on #178
@jaybee84 Could you review the pull request in the nf jobs repo? It adds the studyId column to a couple of the RDS files so we can do this.

[2022-04-01 20:46] jaybee84 commented on #178
done

[2022-04-08 00:23] #178 closed

[2022-04-08 01:16] #177 closed

[2022-04-14 20:38] jaybee84 opened #181 "Publications for a PI are present on the NF Data Portal but not tracked in projectLive"
**Describe the bug**
For some PIs there are publication records present on NF Data Portal . e.g. Peter de Blank
<img width="1792" alt="Screen Shot 2022-04-14 at 1 33 32 PM" src="https://user-images.githubusercontent.com/17917521/163471117-2bfd1d7f-b8cb-4183-90fd-f6708f9c4e04.png">

When we open this PI's information on projectLive we dont see any publications even though projectLive should be pull

[2022-04-14 20:40] allaway commented on #181
Do you think this is a name standardization issue? de Blank vs De Blank?

On Thu, Apr 14, 2022, 13:38 Jineta Banerjee ***@***.***>
wrote:

[2022-04-14 20:49] jaybee84 commented on #181
That is a great point. I see that the Portal Studies table has `De Blank`. I edited that to `de Blank` just now to align with the name in the publication. That may fix the issue once the RDS files are regenerated.

To avoid this issue in the future, it may be best to have the code be not case-sensitive.

[2022-04-14 20:55] allaway commented on #181
Yeah, this definitely is a complicated issue. We pull the publications from
pubmed using their metadata. Initials will also throw a wrench into things.
Either we need to use some fuzzy matching method, or we need a database of
investigator synonyms, or something else. I think this is a solved problem
by others..so maybe we can repurpose an already existing solution.

On Thu, Apr 14, 2022, 13:50 Ji

[2022-04-14 20:55] jaybee84 commented on #181
hmm.. changing the PI name in the Portal Studies table did not fix the issue :(

<img width="1693" alt="Screen Shot 2022-04-14 at 1 53 39 PM" src="https://user-images.githubusercontent.com/17917521/163473609-da7e71ba-2c19-4bd1-a6a0-445106f73914.png">
<img width="1698" alt="Screen Shot 2022-04-14 at 1 54 00 PM" src="https://user-images.githubusercontent.com/17917521/163473632-5b6e7db6-1aef-4003-95c

[2022-04-14 21:01] andrewelamb commented on #181
This might be fixed by #179, since the study names are mis-matched here.

On Thu, Apr 14, 2022 at 1:55 PM Jineta Banerjee ***@***.***>
wrote:

[2022-04-14 21:25] andrewelamb commented on #181
This will be fixed by #179, it's the same issue.

[2022-04-14 21:25] andrewelamb opened #182 "Staging app is down"
2022-04-14T21:03:18.267044+00:00 shinyapps[5349080]:   running command ''/srv/connect/apps/projectLive_NF-staging/virtual_env/bin/python' '/opt/R/4.1.2/lib/R/library/reticulate/config/config.py' 2>/dev/null' had status 126
2022-04-14T21:03:18.266893+00:00 shinyapps[5349080]: Warning in system2(command = python, args = shQuote(script), stdout = TRUE,  :
2022-04-14T21:03:18.267471+00:00 shinyapps[53

[2022-04-14 21:39] jaybee84 commented on #182
new log:

[code]

[2022-04-14 21:41] andrewelamb commented on #182
You'll will have to merge into a release branch to get it to deploy to staging:

https://github.com/Sage-Bionetworks/projectLive_NF/blob/develop/.github/workflows/shinyapps_deploy.yml#L60

[2022-04-14 22:56] jaybee84 commented on #182
merging `develop` to `master` deployed to staging. Staging app is up and running.

[2022-04-14 22:56] #182 closed

[2022-04-14 23:21] #181 closed

[2022-04-14 23:48] jaybee84 opened #186 "Add a testing instance to app and github workflows"
**Is your feature request related to a problem? Please describe.**
Currently any new PRs on new branches need to be tested locally. The PRs that are being worked on cannot be tested on Shinyapps.io until and unless they have been approved and merged into develop and then to master.
Adding a testing instance that tracks the PR branches would be helpful in easy testing of new features.

**Describe t

[2022-05-09 23:31] jaybee84 opened #189 "App fails when routed to production backend files instead of dev files"
**Describe the bug**
The app was found to be routing to dev RDS files. These files are not regularly updated and are for testing only. When the app was routed back to the production backend RDS files which are updated regularly, the staging app fails to show content.

From the logs it seems to be looking for a `StudyId` column that does not exist in the production RDS files.

**To Reproduce**
Step

[2022-05-09 23:35] andrewelamb commented on #189
@jaybee84 It looks like the production files never got updated.
Essentially the production files (live files) [here](https://github.com/nf-osi/jobs/blob/main/projectlive-nf-datafiles/R/create_rds_files.R) need to be set to be the same as the development (dev) files.

[2022-05-09 23:37] jaybee84 commented on #189
@andrewelamb the production files are being updated regularly: https://www.synapse.org/#!Synapse:syn22281727

[2022-05-09 23:39] andrewelamb commented on #189
Yep, but the 'schema' changed for a couple of the RDS files. Mostly they need some new columns, that are getting added in the dev versions.

[2022-05-09 23:44] andrewelamb commented on #189
fixed by this [PR](https://github.com/nf-osi/jobs/pull/18).

[2022-08-14 18:50] allaway opened #191 "UI suggestion: auto-hide empty ggplot facets"
**Is your feature request related to a problem? Please describe.**
The timeline plot attached below is a bit crowded. Most of the facets for this plot (for the particular Funder I am looking at) have no data upload.

**Describe the solution you'd like**
 It would be nice to filter these facets out.  If we had a year in the middle that had no data uploaded, this solution might cause some confusion

[2022-08-14 18:53] allaway opened #192 "Feature suggestion: allow date range filter on New Submissions"
**Is your feature request related to a problem? Please describe.**
I am currently writing a progress report for February 1 - August 1, but this tab defaults to all data uploaded to the current date-time (august 14th), so I can't generate a plot for the February 1 - August 1 time period.

**Describe the solution you'd like**
It would be nice to be able to plot the exact data uploaded during this pe

[2022-08-17 23:17] #189 closed

[2022-10-21 18:39] allaway opened #193 "Feature request: allow faceting by year"
**Is your feature request related to a problem? Please describe.**
This plot (pasted below) is difficult to parse, and plotly's zoom feature is not helpful on faceted plots.

**Describe the solution you'd like**
I'd like to be able to filter out years. Years without any data should not be included at all. I should be able to select or deselect years to, e.g. plot only the year or two I am interest